* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin: 20px 0 120px 30px;
    gap: 20px;
}

.menu {
    font-weight: 600;
    font-size: 15px;
    line-height: 25px;
    color: #989D9C;
    cursor: pointer;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

section {
    display: inline-block;
    align-items: center;
    width: 100vh;
}

.button-header {
    background: #ADFF00;
    border-radius: 15px;
    width: 70px;
    height: 20px;
    border: none;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    color: #515151;
    cursor: pointer;
    text-decoration: none;
}

.logo-image {
    max-width: 400px;
}

h1 {
    font-weight: 900;
    font-size: 70px;
    line-height: 100px;
    color: #515151;
}

h2 {
    font-weight: 500;
    font-size: 35px;
    line-height: 30px;
    color: #515151;
}

p {
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #848484;
    text-align: justify;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button-main {
    background: #ADFF00;
    border-radius: 20px;
    align-items: center;
    padding: 5px;
    width: 120px;
    height: 30px;
    border: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    line-height: 10px;
    color: #000;
    a:link {text-decoration: none;}
}


@media screen and (max-width: 450px) {

    header {
        display: flex;
        margin: 10px 0 30px, 0;
        gap: 10px;
    }

    .menu {
        font-size: 12px;
        line-height: 15px;
        margin-right: 5px;
    }

    main {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    section {
        width: 50%;
    }

    .button-header {
        border-radius: 15px;
        width: 60px;
        height: 20px;
        font-size: 10px;
    }

    .logo-image {
        width: 250px;
        display: flex;
    }

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 20px;
    }

    p {
        font-size: 15px;
        margin-top: 40px;
        margin-bottom: 20px;
        line-height: 20px;
        text-align: left;
    }

    .button-main {
        width: 90px;
        height: 25px;
        font-size: 8px;
        line-height: 9px;
        margin-bottom: 10px;
    }
}